<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}Alejandro Sanchez Portfolio{% endblock %}</title>

    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href='{{ baseUrl }}normalize/normalize.css' />        
    <link rel="stylesheet" href='{{ baseUrl }}bootstrap/css/bootstrap.min.css' />           
    <link rel="stylesheet" href='{{ baseUrl }}boxicons/css/boxicons.min.css' />       
    <link rel="stylesheet" href='{{ baseUrl }}scrollbar/jquery.mCustomScrollbar.css' />       
    <link rel="stylesheet" href="{{ baseUrl }}css/admin/master.css">
    {% block stylesheets %}{% endblock %}

    <meta name="csrf-token" content="{{ csrfToken }}">
</head>

<body>


    <div class="wrapper">
        <!-- Sidebar  -->
        {% block menu %}
        <nav id="sidebar">
            <div class="sidebar-header">
                <img class="logo" src="{{ baseUrl }}img/admin/logoAdmin.png" alt="">
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a class="{% if section == "D-HOME" %}active{% endif %}" href="{{ baseUrl }}admin/home">Inicio</a>
                </li>
                <li class="{% if section|first == "L" %}active{% endif %}"> {# si la primera letra de la seccion es landing agrega la clase  active #}
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="{% if section|first == "L" %}true{% else %}false{% endif %}" class="dropdown-toggle">Landing</a>
                    <ul class="collapse list-unstyled {% if section|first == "L" %}show{% endif %}" id="homeSubmenu">
                        <li>
                            <a class="{% if section == "L-BANNER" %}active{% endif %}" href="{{ baseUrl }}admin/landing/banner">Banner</a>
                        </li>
                        <li>
                            <a class="{% if section == "L-SERVICE" %}active{% endif %}" href="{{ baseUrl }}admin/landing/services" >Servicios</a>
                        </li>
                        <li>
                            <a class="{% if section == "L-PROJECT" %}active{% endif %}" href="{{ baseUrl }}admin/landing/project">Proyectos</a>
                        </li>
                        <li>
                            <a class="{% if section == "L-RECOMENDATION" %}active{% endif %}" href="{{ baseUrl }}admin/landing/recomendations">Recomendaciones</a>
                        </li>
                        {# <li>
                            <a class="{% if section == "L-FOOTER" %}active{% endif %}" href="{{ baseUrl }}admin/landing/footer">Pie de pagina</a>
                        </li> #}
                    </ul>
                </li>

                <li class="{% if section|first == "C" %}active{% endif %}">
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="{% if section|first == "C" %}true{% else %}false{% endif %}" class="dropdown-toggle">Configuración</a>
                    <ul class="collapse list-unstyled {% if section|first == "C" %}show{% endif %}" id="pageSubmenu">
                        <li>
                            <a class="{% if section == "C-SOCIALMEDIA" %}active{% endif %}" href="{{ baseUrl }}admin/config/socialmedia">Redes Sociales</a>
                        </li>
                        <li>
                            <a class="{% if section == "C-KEYWORDS" %}active{% endif %}" href="{{ baseUrl }}admin/config/keywords">Palabras Claves</a>
                        </li>
                        {# <li>
                            <a class="{% if section == "C-HEADER" %}active{% endif %}" href="{{ baseUrl }}admin/config/head">Etiquetas en Cabecera</a>
                        </li>
                        <li>
                            <a class="{% if section == "C-FOOTER" %}active{% endif %}" href="{{ baseUrl }}admin/config/footer">Etiqueta en Pie de Página</a>
                        </li> #}
                    </ul>
                </li>
                {# <li>
                    <a href="#">Portfolio</a>
                </li> #}
                {# <li>
                    <a href="#">Contact</a>
                </li> #}
                <li>
                    <a href="{{ baseUrl }}admin/log-out">Cerrar Sesión</a>
                </li>
            </ul>

            <span class="version" >Version: 1.0.0</span>
            
        </nav>
        {% endblock %}
        <!-- Page Content  -->
        <div id="content">
            <div class="content-hamburger">
                <div class="hamburger" id="sidebarCollapse">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="container-fluid mt-3">
                <div class="row">
                    {% block body %}
                        
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <script  type="text/javascript">
        const BASEURL = '{{ baseUrl }}';
    </script>
    <script  type="text/javascript" src="{{ baseUrl }}jquery/jquery.min.js" ></script>
    <script  type="text/javascript" src="{{ baseUrl }}popper/popper.min.js" ></script>
    <script  type="text/javascript" src="{{ baseUrl }}bootstrap/js/bootstrap.min.js" ></script>
    <script  type="text/javascript" src="{{ baseUrl }}scrollbar/jquery.mCustomScrollbar.concat.min.js" ></script>
    <script  type="text/javascript" src="{{ baseUrl }}sweetalert/sweetalert.min.js" ></script>
    <script  type="text/javascript" src="{{ baseUrl }}js/admin.js" charset="UTF-8" ></script>
    {% block javascripts %}{% endblock %}
</body>

</html>