{% extends '../../template/base_admin_view.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ baseUrl }}css/admin/landing.css">
{% endblock %}

{% block body %}
<div class="col-md-8 mb-3 ">
    <div class="card h-md-100">
        <div class="card-header d-flex flex-between-center pb-0">
            <h4 class="mb-0">Sección de inicio</h4>
        </div>
        <div class="card-body pt-2">
            <div class="row no-gutters h-100 align-items-center">
                <div class="col">
                    <div class="media align-items-center">
                        <div class="media-body">

                            <div class="fs--2 font-weight-semi-bold">
                                <button type="button" class="btn btn-outline-info"><i class='bx bx-window-alt'></i> Vista Previa</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4  mb-3 ">
    <div class="card h-md-100">
        <div class="card-header d-flex flex-between-center pb-0">
            <h6 class="mb-0">Horario</h6>
        </div>
        <div class="card-body pt-2">
            <div class="row no-gutters h-100 align-items-center">
                <div class="col">
                    <div class="media align-items-center">
                        <i class='bx bx-time pr-3' style="color: #17a2b8;font-size: 54px;"></i>
                        <div class="media-body">
                            <h6 class="mb-2 horafull"></h6>
                            <div class="fs--2 font-weight-semi-bold">
                                <span class="strFullDate"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 mb-3 ">
    <div class="card h-md-100">
        {# <div class="card-header d-flex flex-between-center pb-0">
            <h6 class="mb-0"></h6>
        </div> #}
        <div class="card-body pt-2">
            <div class="row no-gutters h-100 align-items-center">
                <div class="col">
                    <div class="media align-items-center">
                        <div class="media-body">
                            <form id="formdatainicio">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" id="title" required="required" name="titulo" value="{{ dataInicio.title }}">
                                            <label for="input" class="control-label">Titulo</label><i class="bar"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" id="subtitle" required="required" name="subtitulo" value="{{ dataInicio.subtitle }}">
                                            <label for="input" class="control-label">Subtitulo</label><i class="bar"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group mt-0">
                                            <h5 class="mb-0">Banner</h5>
                                            <img src="{{ baseUrl ~ "img/uploads/" ~ dataInicio.img_name }}" class="img-banner" alt="">
                                            <label class='__lk-fileInput'>
                                                <span data-default='Selecciona una imagen'>Selecciona una imagen</span>
                                                <input type="file" id="image">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-5 self-center m-auto">
                                        <button type="submit" name="" id="" class="btn btn-info btn-block">Modificar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 mb-3 ">
    <div class="card h-md-100">
        <div class="card-header d-flex flex-between-center pb-0">
        
            <h5 class="mb-0"><i class='bx bx-purchase-tag-alt'></i> Keywords</h5>
        </div>
        <div class="card-body pt-2">
            <div class="row no-gutters h-100 align-items-center">
                <div class="col">
                    <div class="media align-items-center">
                        <div class="media-body">
                            <form id="formKeyword" action="#">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-md-7 ">
                                        <div class="form-group">
                                            <input type="text" required="required" name="keyword">
                                            <label for="input" class="control-label">Keyword</label><i class="bar"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <input name="anadir" class="btn btn-primary btn-block" type="submit" value="Añadir">
                                        {# <button type="button" name="" class="btn btn-primary btn-block">Añadir</button>     #}
                                    </div>
                                </div>
                            </form>
                            <div class="row pt-5">
                                {% for keyword in dataKeywordsInicio %}
                                <div class="col-md-6 pb-3">
                                    <div class="item-keyword"  >
                                        <i class='bx bx-purchase-tag-alt'></i>
                                        <span>{{ keyword.keyword|e }}</span>
                                        <i class='bx bx-trash' data-item-keyword="{{ keyword.id }}"></i>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

    {% block javascripts %}
        <script  type="text/javascript" src="{{ baseUrl }}js/landing/inicio.js" charset="UTF-8" ></script>
        <script  type="text/javascript" >
        $(function(){  
  $('input').change(function(){
    var label = $(this).parent().find('span'); 
    if(typeof(this.files) !='undefined'){ // fucking IE      
      if(this.files.length == 0){
        label.removeClass('withFile').text(label.data('default'));
      }else{
        var file = this.files[0]; 
        var name = file.name;
        var size = (file.size / 1048576).toFixed(3); //size in mb 
        label.addClass('withFile').html(name + ' (' + size + 'mb)'+'<i class="bx bx-x"></i>');
      }
    }
    else{
      var name = this.value.split("\\");
	      label.addClass('withFile').html(name[name.length-1]+'<i class="bx bx-x"></i>');
    }
    return false;
  });  
});
        </script>
    {% endblock %}