{% extends '../../template/base_admin_view.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ baseUrl }}css/admin/landing.css">
{% endblock %}

{% block body %}
<div class="col-md-8 mb-3 ">
    <div class="card h-md-100">
        <div class="card-header d-flex flex-between-center pb-0">
            <h4 class="mb-0">Sección de Servicios</h4>
        </div>
        <div class="card-body pt-2">
            <div class="row no-gutters h-100 align-items-center">
                <div class="col">
                    <div class="media align-items-center">
                        <div class="media-body">

                            <div class="fs--2 font-weight-semi-bold">
                                <a href="{{ baseUrl }}#services" target="_blank" class="btn btn-outline-info">
                                    <i class='bx bx-window-alt'></i> Vista Previa
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4  mb-3 ">
    <div class="card h-md-100">
        <div class="card-header d-flex flex-between-center pb-0">
            <h6 class="mb-0">Horario</h6>
        </div>
        <div class="card-body pt-2">
            <div class="row no-gutters h-100 align-items-center">
                <div class="col">
                    <div class="media align-items-center">
                        <i class='bx bx-time pr-3' style="color: #17a2b8;font-size: 54px;"></i>
                        <div class="media-body">
                            <h6 class="mb-2 horafull"></h6>
                            <div class="fs--2 font-weight-semi-bold">
                                <span class="strFullDate"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 mb-3 ">
    <div class="card h-md-100">
        {# <div class="card-header d-flex flex-between-center pb-0">
            <h6 class="mb-0"></h6>
        </div> #}
        <div class="card-body pt-2">
            <div class="row no-gutters h-100 align-items-center">
                <div class="col">
                    <div class="media align-items-center">
                        <div class="media-body">
                            <div class="row">
                                <div class="col-md-12 pt-3 pb-3">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    {% for servicio in servicios %}
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link {% if loop.first %} active {% endif %}" id="service{{ servicio.id }}" data-toggle="tab" href="#servicetab{{ servicio.id }}" role="tab" aria-controls="servicetab{{ servicio.id }}" aria-selected="true">{{ servicio.titulo }}</a>
                                        </li>
                                    {% endfor %}

                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                    {% for servicio in servicios %}
                                        <div class="tab-pane fade show {% if loop.first %} active {% endif %}" id="servicetab{{ servicio.id }}" role="tabpanel" aria-labelledby="service{{ servicio.id }}">
                                            <form class="formservice" id="service{{ servicio.id }}" class="row">
                                                <input type="hidden" id="nservicio" required="required" name="nservicio" value="{{ servicio.id }}">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" id="title" required="required" name="titulo" value="{{ servicio.titulo }}">
                                                        <label for="input" class="control-label">Titulo</label><i class="bar"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" id="text" required="required" name="texto" value="{{ servicio.texto }}">
                                                        <label for="input" class="control-label">Texto</label><i class="bar"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <textarea id="icono" name="icono" required="required">{{ servicio.icono }}</textarea>
                                                        <label for="textarea" class="control-label">Icono (HTML)</label><i class="bar"></i>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group mt-0">
                                                        <h5 class="mb-0">Fondo</h5>
                                                        <img src="{{ baseUrl ~ "img/uploads/servicios/" ~ servicio.img_name }}" class="img-banner" alt="">
                                                        <label class='__lk-fileInput'>
                                                            <span data-default='Selecciona una imagen'>Selecciona una imagen</span>
                                                            <input type="file" id="image">
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-5 self-center m-auto">
                                                    <button type="submit" name="" id="" class="btn btn-info btn-block">Modificar</button>
                                                </div>
                                            </form>
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

    {% block javascripts %}
        <script  type="text/javascript" src="{{ baseUrl }}js/landing/service.js" charset="UTF-8" ></script>
    {% endblock %}