<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form Tutorial</title>
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <div class="login-form">
        <h1>Login Form</h1>
        <form id="loginForm" action="auth" method="POST">
            <input id="csrf" type="hidden" name="_csrf" value={{ csrfToken }}>
            <input id="username" type="text" name="username" placeholder="Username" required>
            <input id="password" type="password" name="password" placeholder="Password" required>
            <input type="submit">
        </form>
    </div>

	<script src="{{ baseUrl }}jquery/jquery.min.js" ></script>
    <script  type="text/javascript" src="{{ baseUrl }}sweetalert/sweetalert.min.js" ></script>
	<script src="{{ baseUrl }}js/login.js" ></script>
	<script>
        let BASE_URL = "{{ baseUrl }}";
    </script>

</body>
</html>